.header{
    height: var(--header-height);
    background-image: linear-gradient(to bottom , #f6412e , #fe6132);
}
.header__navbar{
    font-size: 1.5rem;
    color: var(--white-color);
    display: flex;
    justify-content: space-between;
}
.header__list{
    list-style: none;
    padding-left: 0;
    margin: 8px 0 0 0;
}

.header__list-item{
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}

.header__list-item-link{
    text-decoration: none;
    color: var(--white-color);
}
.header__list-item:hover , 
.header__list-item-link:hover,
.header__list-item-icon:hover {
    color: rgba(255, 255, 255, 0.7) ;
    cursor: pointer;
}

.header__list-item:hover .header__qr,
.header__list-item:hover .header__notify
{
    display: block;
}

.header__list-item, 
.header__list-item-link,
.header__list-item-icon{
    display: inline-flex;
    align-items: center;
}

.header__list-item-separate::after{
    content: '';
    position: absolute;
    border: 1px solid #fb9086;
    height: 14px;
    right: -10px;
    top: 50%;
    transform: translateY(-50%);
}
.header__list-item-icon-link{
    text-decoration: none;
}
.header__list-item-icon{
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.7rem;
    margin: 0 6px;
}

.header__list-item--title{
    cursor: text;
    color: var(--white-color);
}

/* HEADER QR CODE */

.header__qr{
    background: var(--white-color);
    margin-top: 6px;
    width: 200px;
    position: absolute;
    left: 0;
    top: 100%;
    padding: 1px;
    border-radius: 2px;
    display: none;
    border-radius: 2px;
    animation: fadeIn ease-in 0.1s;
    z-index: 2;
}
.header__qr::after{
    content: '';
    position: absolute;
    top: -10px;
    width: 100%;
    display: block;
    height: 10px;
}
.header__qr-img{
    width: 100%;
}
.header__qr-app{
    display: flex;
    justify-content: space-between;
    margin-top: 6px;
}
.header__qr-link:first-child{
    margin-left: 12px;
}
.header__qr-link:last-child{
    margin-right: 14px;
}
.header__qr-download-img{
    height: 18px;
}

/* Notify */

.header__notify{
    background-color: var(--white-color);
    width: 404px;
    position: absolute;
    top: 100%;
    right: 0;
    border: 1px solid #d3d3d3;
    border-radius: 2px;
    margin-top: 6px;
    cursor: default;
    display: none;
    transform-origin: calc(100% - 32px) top;
    animation: growth linear 0.2s;
    will-change: transform , opacity;
    z-index: 2;
}
.header__notify::before{
    content: '';
    border-style: solid;
    border-width: 20px 30px;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 0;
    top: -30px
}

.header__notify::after{
    content: '';
    width: 94px;
    height: 10px;
    position: absolute;
    top: -10px;
    right: 0;
}
.header__notify-heading{
    color: #ccc;
    font-weight: 300;
    margin:0 0 0 12px;
    background-color: var(--white-color);
    height: 40px;
    line-height: 40px;
}
.header__notify-list{
    padding-left: 0;
    list-style: none;
}
.header__notify-item{
    display: flex;
}
.header__notify-item:hover{
    background-color: #f7f7f7;
}
.header__notify-item--view{
    background-color: rgba(238, 75, 43, 0.03);
}
.header__notify-link{
    width: 100%;
    display: flex;
    padding: 12px;
    text-decoration: none;

}
.header__notify-img{
    width: 50px;
    object-fit: cover;
}
.header__notify-info{
    margin-left: 12px;
}
.header__notify-name{
    display: block;
    font-size: 1.5rem;
    color: var(--black-color);
    font-weight: 400;
    margin-bottom: 3px;
}
.header__notify-descripton{
    display: block;
    font-size: 1.4rem;
    color: #756f6e;
    line-height: 1.5rem;
    margin-top: 4px;
}
.header__notify-footer{
    text-align: center;
    margin: 10px 0;
}
.header__notify-footer-btn{
    text-decoration: none;
    color: var(--black-color);

}
/* Auth form */
.auth-form{
    width: 600px;
    background-color: var(--white-color);
    border-radius: 2px;
    overflow: hidden;
}
.auth-form__container{
    padding: 0 32px;
}
.auth-form__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 24px;
    padding: 0 12px;
}
.auth-form__heading{
    font-size: 2.4rem;
    font-weight: 400;
}
.auth-form__switch-btn{
    font-size: 1.6rem;
    color: var(--primary-color);
    font-weight: 400;
}
.auth-form__form{
    margin-top: 46px;
}
.auth-form__input{
    width: 100%;
    height: 40px;
    margin-bottom: 16px;
    outline: none;
    padding: 0 12px;
    border: 1px solid var(--border-color);
    border-radius: 2px;
}
.auth-form__input:focus{
    border-color: #877;
}

.auth-form__text{
    margin-top: 16px;
    padding: 0 12px;
    text-align: center;
}
.auth-form__policy-text{
    margin: 0;
    display: inline-block;
    line-height: 1.8rem;
}
.auth-form__text-link{
    text-decoration: none;
    color: var(--primary-color);   
}
.auth-form__control{
    margin-top: 120px;
    display: flex;
    justify-content: flex-end;
}
.auth-form___social{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    background-color: #f5f5f5;
    padding: 12px 34px;
}

.auth-form___social--facebook{
    background-color: #3a5a98;
    
}
.auth-form___social--facebook, 
.auth-form___social-icon{
    color: var(--white-color)
}

.auth-form___social-icon-google, 
.auth-form___social-icon{
    font-size: 1.8rem;
}
.auth-form___social-title{
    margin: 0 40px;
}

.auth-form___social--google{
    background-color: var(--white-color);
    color: #666;
}

.auth-form__help{
    display: flex;
    justify-content: flex-end;
}

.auth-form__help-link{
    text-decoration: none;
    font-size: 1.4rem;
    color: #939393;
}
.auth-form__help-separate{
    display: block;
    border-left: 1px solid var(--border-color);
    height: 16px;
    margin: 0 16px
}

.auth-form__help-link.auth-form__help-primary{
    color: var(--primary-color);
}

/* Header-with-search */

.header-with-search{
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
    margin: 0 8px;
}

.header__logo{
    width: 200px;
}

.header__logo-img{
    width: 150px;
}

.header__search{
    background-color: var(--white-color);
    height: 40px;
    flex: 1;
    border-radius: 2px;
    display: flex;
    align-items: center;
}
.header__cart{
    width: 160px;
    text-align: center;
    
}
.header__cart-wrap{
    position: relative;
    display: inline-block;
    padding: 0 12px;
    cursor: pointer;
}
.header__cart-wrap:hover .header__cart-list{
    display: block;
}
.header__cart-icon{
    font-size: 2.2rem;
    color: var(--white-color);
    margin-top: 18px;
}

.header__cart-list{
    position: absolute;
    width: 400px;
    top: 100%;
    right: -4px;
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 1px 2px #e0e0e0;
    margin-top: 6px;
    transform-origin: calc(100% - 32px) top;
    animation: growth linear 0.2s;
    will-change: opacity , transform;
    cursor: default;
    /* display: none; */
}

.header__cart-list-no-cart .header__cart-list-no-cart-img,
.header__cart-list-no-cart .header__cart-list-no-cart-msg{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header__cart-list-no-cart-img{
    width: 60%;
    padding: 20px 0;
    display: none;

}
.header__cart-list-no-cart-msg{
    display: none;
    font-size: 1.4rem;
    margin-bottom: 20px;
}
.header__cart-list::before{
    cursor: pointer;
    content: '';
    position: absolute;
    right: 0;
    top: -28px;
    border-width: 20px 26px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
}

.header__cart-notice{
    position: absolute;
    padding: 2px 8px;
    background-color: var(--white-color);
    color: var(--primary-color);
    font-size: 1.4rem;
    line-height: 1.4rem;
    border-radius: 10px;
    border: 2px solid #ee4d2d;
    top: 4px;
    right: -8px;
}
.header__cart-list-heading{
    font-size: 1.4rem;
    text-align: left;
    margin: 8px 0 8px 12px;
}
.header__cart-list-item{
    padding-left: 0;
    list-style: none;
}
.header__cart-item{
    display: flex;
}

.header__cart-img{
    width: 44px;
    height: 44px;
    margin: 12px;
}

.header__cart-item-info{
    font-size: 1.4rem;
}
.header__cart-item-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__cart-item-name{

}
.header__cart-item-price{

}
.header__cart-item-multiply{

}
.header__cart-item-qnt{

}
.header__cart-item-body{

}
.header__cart-item-descripton{

}
.header__cart-item-remove{

}
.header__search-input-wrap{
    flex: 1;
    height: 100%;
    position: relative;
}
.header__search-input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    padding: 0 16px;
    border-radius: 2px;
}

.header__search-select{
    border-left: 1px solid #e8e8e8;
    padding-left: 16px;
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.header__search-select:hover .header__search-option{
    display: block;
}
.header__search-select-lable{
    font-size: 1.4rem;
    
}

.header__search-select-icon{
    font-size: 1rem;
    margin: 0 16px;

}

.header__search-btn{
    background-color: var(--primary-color);
    border: none;
    height: 36px;
    width: 60px;
    border-radius: 2px;
    margin-right: 3px;
    outline: none;
    cursor: pointer;
}
.header__search-btn:hover{
    background-color: #ec593e;
}
.header__search-btn-icon{
    font-size: 1.4rem;
    color: var(--white-color);
}

.header__search-option{
    margin-top: 15px;
    list-style: none;
    position: absolute;
    top: 100%;
    right: 0;
    width: 160px;
    box-shadow: 0 1px 2px #e0e0e0;
    padding-left: 0;
    display: none;
    border-radius: 2px;
}

.header__search-option::after{
    content: '';
    position: absolute;
    width: 130px;
    height: 26px;
    right: 0;
    top: -18px;

}
.header__search-option-item{
    background-color: var(--white-color);
    border-radius: 2px;
    padding: 8px;
}
.header__search-option-item:hover{
    background-color: #fafafa;
    cursor: pointer;
}
.header__search-option-item span {
    font-size: 1.5rem;
    margin-left: 8px;
}
.header__search-option-item i {
    font-size: 1rem;
    color: var(--primary-color);
    margin: 0 4px 0 40px;
    display: none;
}
.header__search-option-item--active i{
    display: inline-block;
}
.header__search-input:focus ~ .header__search-history{
    display: block;
}
/* Search history */

.header__search-history{
    font-size: 1.4rem;
    position: absolute;
    top: 100%;
    left: 0;
    width: calc(100% - 16px);
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 1px 2px #e0e0e0;
    margin-top: 5px;
    display: none;
    overflow: hidden;
}

.header__search-history-list{
    list-style: none;
    padding-left: 0;
    margin: 6px 0 0;
}
.header__search-history-heading{
    margin: 10px 12px;
    font-weight: 300;
    color: #999;
    font-size: 1.5rem;
}
.header__search-history-item{
    height: 38px;
    padding: 0 12px;
    line-height: 38px;
}

.header__search-history-item:hover{
    background-color: #fafafa;
}
.header__search-history-item a{
    text-decoration: none;
    color: var(--text-color);
    display: block;
}