.app {
    overflow: hidden;
}

.header{
    height: var(--header-height);
    background-image: linear-gradient(to bottom , #f6412e , #fe6132);
}
.header__navbar{
    font-size: 1.3rem;
    color: var(--white-color);
    display: flex;
    justify-content: space-between;
}
.header__list{
    list-style: none;
    padding-left: 0;
    margin: 8px 0 0 0;
    display: flex;
}

.header__list-item{
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}
.header__navbar-user{
    display: flex;
    justify-items: center;
    position: relative;
    z-index: 2;
}
.header__navbar-user:hover .header__navbar-user-menu{
    display: block;
}
.header__navbar-user-avata{
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.header__navbar-user-name{
    margin-left: 8px;
    font-size: 1.3rem;
    font-weight: 400;
}
.header__navbar-user-menu{
    position: absolute;
    top: 100%;
    right: 0;
    width: 156px;
    padding-left: 0;
    background-color: var(--white-color);
    border-radius: 2px;
    list-style: none;
    box-shadow: 0 1px 2px #e0e0e0;
    display: none;
    transform-origin: 80% top;
    animation: growth linear 0.2s;
}
.header__navbar-user-menu::before{
    content: '';
    border-style: solid;
    border-width: 16px 20px;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 30px;
    top: -22px;
}
.header__navbar-user-menu::after{
    content: '';
    position: absolute;
    width: 120px;
    height: 6px;
    top: -6px;
    right: 0;
}
.header__navbar-user-item{
    font-size: 1.4rem;
}
.header__navbar-user-item a{
    text-decoration: none;
    display: block;
    color: var(--text-color);
    padding: 10px 16px;
}
.header__navbar-user-item a:first-child{
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}
.header__navbar-user-item a:last-child{
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.header__navbar-user-item a:hover{
    background-color: #fafafa;
}

.header__list-item-link{
    text-decoration: none;
    color: var(--white-color);
}
.header__list-item:hover , 
.header__list-item-link:hover,
.header__list-item-icon:hover {
    color: rgba(255, 255, 255, 0.7) ;
    cursor: pointer;
}

.header__list-item:hover .header__qr,
.header__list-item:hover .header__notify
{
    display: block;
}

.header__list-item, 
.header__list-item-link,
.header__list-item-icon{
    display: inline-flex;
    align-items: center;
}

.header__list-item-separate::after{
    content: '';
    position: absolute;
    border: 1px solid #fb9086;
    height: 14px;
    right: -10px;
    top: 50%;
    transform: translateY(-50%);
}
.header__list-item-icon-link{
    text-decoration: none;
}
.header__list-item-icon{
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.7rem;
    margin: 0 6px;
}

.header__list-item--title{
    cursor: text;
    color: var(--white-color);
}

/* HEADER QR CODE */

.header__qr{
    background: var(--white-color);
    margin-top: 6px;
    width: 200px;
    position: absolute;
    left: 0;
    top: 100%;
    padding: 1px;
    border-radius: 2px;
    display: none;
    border-radius: 2px;
    animation: fadeIn ease-in 0.1s;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    z-index: 2;
}
.header__qr::after{
    content: '';
    position: absolute;
    top: -10px;
    width: 100%;
    display: block;
    height: 10px;
}
.header__qr-img{
    width: 100%;
}
.header__qr-app{
    display: flex;
    justify-content: space-between;
    margin-top: 6px;
}
.header__qr-link:first-child{
    margin-left: 12px;
}
.header__qr-link:last-child{
    margin-right: 14px;
}
.header__qr-download-img{
    height: 18px;
}

/* Notify */

.header__notify{
    background-color: var(--white-color);
    width: 404px;
    position: absolute;
    top: 100%;
    right: 0;
    border: 1px solid #d3d3d3;
    border-radius: 2px;
    margin-top: 6px;
    cursor: default;
    display: none;
    transform-origin: calc(100% - 32px) top;
    animation: growth linear 0.2s;
    will-change: transform , opacity;
    z-index: 5;
}
.header__notify::before{
    content: '';
    border-style: solid;
    border-width: 20px 30px;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 0;
    top: -30px
}

.header__notify::after{
    content: '';
    width: 94px;
    height: 10px;
    position: absolute;
    top: -10px;
    right: 0;
}
.header__notify-heading{
    color: #ccc;
    font-weight: 300;
    margin:0 0 0 12px;
    background-color: var(--white-color);
    height: 40px;
    line-height: 40px;
}
.header__notify-list{
    padding-left: 0;
    list-style: none;
}
.header__notify-item{
    display: flex;
}
.header__notify-item:hover{
    background-color: #f7f7f7;
}
.header__notify-item--view{
    background-color: rgba(238, 75, 43, 0.03);
}
.header__notify-link{
    width: 100%;
    display: flex;
    padding: 12px;
    text-decoration: none;

}
.header__notify-img{
    width: 50px;
    object-fit: cover;
}
.header__notify-info{
    margin-left: 12px;
}
.header__notify-name{
    display: block;
    font-size: 1.5rem;
    color: var(--black-color);
    font-weight: 400;
    margin-bottom: 3px;
}
.header__notify-descripton{
    display: block;
    font-size: 1.4rem;
    color: #756f6e;
    line-height: 1.5rem;
    margin-top: 4px;
}
.header__notify-footer{
    text-align: center;
    margin: 10px 0;
}
.header__notify-footer-btn{
    text-decoration: none;
    color: var(--black-color);

}
/* Auth form */
.auth-form{
    width: 600px;
    background-color: var(--white-color);
    border-radius: 2px;
    overflow: hidden;
}
.auth-form__container{
    padding: 0 32px;
}
.auth-form__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 24px;
    padding: 0 12px;
}
.auth-form__heading{
    font-size: 2.4rem;
    font-weight: 400;
}
.auth-form__switch-btn{
    font-size: 1.6rem;
    color: var(--primary-color);
    font-weight: 400;
}
.auth-form__form{
    margin-top: 46px;
}
.auth-form__input{
    width: 100%;
    height: 40px;
    margin-bottom: 16px;
    outline: none;
    padding: 0 12px;
    border: 1px solid var(--border-color);
    border-radius: 2px;
}
.auth-form__input:focus{
    border-color: #877;
}

.auth-form__text{
    margin-top: 16px;
    padding: 0 12px;
    text-align: center;
}
.auth-form__policy-text{
    margin: 0;
    display: inline-block;
    line-height: 1.8rem;
}
.auth-form__text-link{
    text-decoration: none;
    color: var(--primary-color);   
}
.auth-form__control{
    margin-top: 120px;
    display: flex;
    justify-content: flex-end;
}
.auth-form___social{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    background-color: #f5f5f5;
    padding: 12px 34px;
}

.auth-form___social--facebook{
    background-color: #3a5a98;
    
}
.auth-form___social--facebook, 
.auth-form___social-icon{
    color: var(--white-color)
}

.auth-form___social-icon-google, 
.auth-form___social-icon{
    font-size: 1.8rem;
}
.auth-form___social-title{
    margin: 0 40px;
}

.auth-form___social--google{
    background-color: var(--white-color);
    color: #666;
}

.auth-form__help{
    display: flex;
    justify-content: flex-end;
}

.auth-form__help-link{
    text-decoration: none;
    font-size: 1.4rem;
    color: #939393;
}
.auth-form__help-separate{
    display: block;
    border-left: 1px solid var(--border-color);
    height: 16px;
    margin: 0 16px
}

.auth-form__help-link.auth-form__help-primary{
    color: var(--primary-color);
}

/* Header-with-search */

.header-with-search{
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
    margin: 0 8px;
}

.header__mobile-search{
    padding: 0 12px;
    display: none;
}

.header__mobile-search-icon {
    font-size: 2.2rem;
    color: var(--white-color);
}

.header__logo{
    width: 200px;
}

.header__logo-img{
    width: 150px;

}
.header__logo-link{
    display: block;
    line-height: 0;
}

.header__search-checkbox:checked ~ .header__search {
    display: flex;
}
.header__search{
    background-color: var(--white-color);
    height: 40px;
    flex: 1;
    border-radius: 2px;
    display: flex;
    align-items: center;
}
.header__cart{
    width: 160px;
    text-align: center;
    
}
.header__cart-wrap{
    position: relative;
    display: inline-block;
    padding: 0 12px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}
.header__cart-wrap:hover .header__cart-list{
    display: block;
}
.header__cart-icon{
    font-size: 2rem;
    color: var(--white-color);
    margin-top: 18px;
}

.header__cart-list{
    position: absolute;
    width: 400px;
    top: 100%;
    right: -4px;
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 1px 2px #e0e0e0;
    margin-top: 6px;
    transform-origin: calc(100% - 32px) top;
    animation: growth linear 0.2s;
    will-change: opacity , transform;
    cursor: default;
    display: none;
    z-index: 5;
}

.header__cart-list-no-cart .header__cart-list-no-cart-img,
.header__cart-list-no-cart .header__cart-list-no-cart-msg{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header__cart-list-no-cart-img{
    width: 60%;
    padding: 20px 0;
    display: none;

}
.header__cart-list-no-cart-msg{
    display: none;
    font-size: 1.4rem;
    margin-bottom: 20px;
}
.header__cart-list::before{
    cursor: pointer;
    content: '';
    position: absolute;
    right: 0;
    top: -28px;
    border-width: 20px 26px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
}

.header__cart-notice{
    position: absolute;
    padding: 2px 8px;
    background-color: var(--white-color);
    color: var(--primary-color);
    font-size: 1.4rem;
    line-height: 1.4rem;
    border-radius: 10px;
    border: 2px solid #ee4d2d;
    top: 4px;
    right: -8px;
}
.header__cart-list-heading{
    font-size: 1.4rem;
    text-align: left;
    margin: 12px 0 8px 12px;
    color: #999;
    font-weight: 300;
}
.header__cart-list-item{
    padding-left: 0;
    list-style: none;
    max-height: 30vh;
    overflow-y: auto;
}

.header__cart-item{
    display: flex;
    align-items: center;
}
.header__cart-item:hover{
    background-color: #f8f8f8;
}

.header__cart-img{
    width: 44px;
    height: 44px;
    margin: 12px;
}

.header__cart-item-info{
    font-size: 1.4rem;
    width: 100%;
    margin-right: 12px;

}
.header__cart-item-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__cart-item-name{
    font-size: 1.4rem;
    font-weight: 400;
    margin: 0;
    line-height: 2rem;
    max-height: 4rem;
    overflow: hidden;
    flex: 1;
    padding-right: 12px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-align: left;
}

.header__cart-item-price{
    font-size: 1.4rem;
    color: var(--primary-color);
}
.header__cart-item-multiply{
    font-size: 1rem;
    margin: 0 4px;
}
.header__cart-item-qnt{
    font-size: 1.2rem;
}
.header__cart-item-body{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.header__cart-item-descripton{
    color: #757575; 
    font-size: 1.2rem;
}
.header__cart-item-remove{
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 400;
}
.header__cart-item-remove:hover{
    color: var(--primary-color);
    cursor: pointer;
}
.header__cart-view-cart{
    float: right;
    font-size: 1.4rem;
    margin: 0 8px 8px 0;
}
.header__cart-view-cart:hover{
    background-color: #f05D41;
}
.header__search-input-wrap{
    flex: 1;
    height: 100%;
    position: relative;
}
.header__search-input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    padding: 0 16px;
    border-radius: 2px;
}

.header__search-select{
    border-left: 1px solid #e8e8e8;
    padding-left: 16px;
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.header__search-select:hover .header__search-option{
    display: block;
}
.header__search-select-lable{
    font-size: 1.4rem;
    
}

.header__search-select-icon{
    font-size: 1rem;
    margin: 0 16px;

}

.header__search-btn{
    background-color: var(--primary-color);
    border: none;
    height: 36px;
    width: 60px;
    border-radius: 2px;
    margin-right: 3px;
    outline: none;
    cursor: pointer;
}
.header__search-btn:hover{
    background-color: #ec593e;
}
.header__search-btn-icon{
    font-size: 1.4rem;
    color: var(--white-color);
}

.header__search-option{
    margin-top: 15px;
    list-style: none;
    position: absolute;
    top: 100%;
    right: 0;
    width: 160px;
    box-shadow: 0 1px 2px #e0e0e0;
    padding-left: 0;
    display: none;
    border-radius: 2px;
    z-index: 2;
}

.header__search-option::after{
    content: '';
    position: absolute;
    width: 130px;
    height: 26px;
    right: 0;
    top: -18px;

}
.header__search-option-item{
    background-color: var(--white-color);
    border-radius: 2px;
    padding: 8px;
}
.header__search-option-item:hover{
    background-color: #fafafa;
    cursor: pointer;
}
.header__search-option-item span {
    font-size: 1.5rem;
    margin-left: 8px;
}
.header__search-option-item i {
    font-size: 1rem;
    color: var(--primary-color);
    margin: 0 4px 0 40px;
    display: none;
}
.header__search-option-item--active i{
    display: inline-block;
}
.header__search-input:focus ~ .header__search-history{
    display: block;
}
/* Search history */

.header__search-history{
    font-size: 1.4rem;
    position: absolute;
    top: 100%;
    left: 0;
    width: calc(100% - 16px);
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 1px 2px #e0e0e0;
    margin-top: 5px;
    display: none;
    overflow: hidden;
    z-index: 2;
}

.header__search-history-list{
    list-style: none;
    padding-left: 0;
    margin: 6px 0 0;
}
.header__search-history-heading{
    margin: 10px 12px;
    font-weight: 300;
    color: #999;
    font-size: 1.5rem;
}
.header__search-history-item{
    height: 38px;
    padding: 0 12px;
    line-height: 38px;
}

.header__search-history-item:hover{
    background-color: #fafafa;
}
.header__search-history-item a{
    text-decoration: none;
    color: var(--text-color);
    display: block;
}


/* header sort bar */

.header__sort-bar {
    position: fixed;
    top: var(--header-height);
    left: 0;
    right: 0;
    height: var(--header-sort-bar-height);
    background-color: var(--white-color);
    margin-top: 0;
    list-style: none;
    padding-left: 0;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    display: none;
}
.header__sort-item {
    flex: 1;
}
.header__sort-link {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    display: block;
    height: 100%;
    line-height: var(--header-sort-bar-height);
    text-align: center;
    position: relative;
}

.header__sort-link::after{
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    height: 60%;
    border-left: 1px solid #e5e5e5;
    transform: translateY(-50%);
}
.header__sort-item-active .header__sort-link{
    color: var(--primary-color);
}

.header__sort-item:first-child .header__sort-link::after {
    display: none;
}
/* App__container */
.app__container{
    font-size: 1.4rem;
    background-color:#f5f5f5 ;
}
.app__content{
    padding-top: 36px;
}
.category{
    background-color: var(--white-color);
    border-radius: 2px;
}

.category__heading{
    font-size: 1.6rem;
    padding: 12px 16px;
    margin-top: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.category__heading-icon{
    font-size: 1.4rem;
    margin-right: 4px;

}

.category-list{
    padding: 0 0 8px 0;
    list-style: none;
    margin-left: 10px;
}

.category-item-active .category-item__link{
    color: var(--primary-color);
}
.category-item-active .category-item__link::before{
    position: absolute;
    content: '';
    top: 50%;
    left: 4px;
    transform: translateY(calc(-50% - 1px));
    border: 4px solid;
    border-color: transparent transparent transparent var(--primary-color);
}
.category-item__link{
    display: block;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    padding: 8px 16px;
    position: relative;

}
.category-item__link:hover{
    color: var(--primary-color);
}
/* Mobile catelogy */
.mobile-catelogy {
    display: none;
}
.mobile-catelogy__list {
    display: flex;
    list-style: none;
    padding-left: 0;
    max-width: 100%;
    overflow-x: auto;
}
.mobile-catelogy__list::-webkit-scrollbar {
    display: none;
}
.mobile-catelogy__item {
    flex-shrink: 0;
    margin-right: 10px;
}
.mobile-catelogy__item:nth-of-type(3n + 1) .mobile-catelogy__link {
    background-color: #87afd8;
}
.mobile-catelogy__item:nth-of-type(3n + 2) .mobile-catelogy__link {
    background-color: #76c9bd;
}
.mobile-catelogy__item:nth-of-type(3n + 3) .mobile-catelogy__link {
    background-color: #88cf81;
}
.mobile-catelogy__link {
    --line-height: 2rem;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.4rem;
    line-height: var(--line-height);
    text-align: center;
    width: 110px;
    height: calc(var(--line-height) * 2);
    border-radius: 5px;
    overflow: hidden;
    user-select: none;
    -webkit-user-select: none;
    padding: 0 6px;
}
/* Home sort + filter */
.home-filter{
    display: flex;
    align-items: center;
    padding: 12px 22px;
    background-color: rgba(0, 0, 0, 0.04);
    border-radius: 2px;
}
.home-filter__lable{
    padding-right: 16px;
    color: #555;
}
.home-filter__btn{
    min-width: 90px;
    margin-right: 12px;
}
.home-filter__page{
    display: flex;
    align-items: center;
    margin-left: auto;
}
.home-filter__page-num{
    font-size: 1.4rem;
    margin-right: 22px;
}
.home-filter__page-current{
    color: var(--primary-color);
}
.home-filter__page-control{
    border-radius: 2px;
    overflow: hidden;
    display: flex;
    width: 80px;
    height: 36px;
}
.home-filter__page-btn{
    text-decoration: none;
    flex: 1;
    background-color: var(--white-color);
    font-size: 1.4rem;
    display: flex;
}
.home-filter__page-btn--disable{
    background-color: #f9f9f9;
    cursor: default;
}
.home-filter__page-btn--disable .home-filter__page-icon{
    color: #ccc;
}
.home-filter__page-btn:first-child{
    border-right: 1px solid #eee;
}
.home-filter__page-icon{
    margin: auto;
    color: #555;
}

/* Product item */
.home-product{
    margin-bottom: 10px;
}
.home-product-item{
    display: block;
    color: var(--text-color);
    text-decoration: none;
    background-color: var(--white-color);
    margin-top: 10px;
    position: relative;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    transition: transform linear 0.1s;
    will-change: transform;
}
.home-product-item:hover{
    transform: translateY(-1px);
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.05);
}
.home-product-item__img{
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.home-product-item__name{
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.8rem;
    height: 3.6rem;
    margin: 10px 10px;
    overflow: hidden;
    display: block;
    /* Xử lý nếu tiêu đề dài hơn 2 dòng sẽ hiện ... */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.home-product-item__price{
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}
.home-product-item__price-old{
    margin-left: 10px;
    font-size: 1.4rem;
    color: #999;
    text-decoration: line-through;
}
.home-product-item__price-current{
    font-size: 1.6rem;
    color: var(--primary-color);
    margin-left: 10px;
}
.home-product-item__action{
    display: flex;
    justify-content: space-between;
    margin: 4px 10px;
    align-items: center;
}
.home-product-item__action-like{
    font-size: 1.2rem;
}
.home-product-item__action-like-icon-fill{
    color: var(--primary-color);
    display: none;
}
.home-product-item__action-like--liked .home-product-item__action-like-icon-fill{
    display: block;
}
.home-product-item__action-like--liked .home-product-item__action-like-icon-empty{
    display: none;
}
.home-product-item__rating{
    font-size: 0.8rem;
    color: #d5d5d5;
    margin-left: auto;
}
.home-product-item__star--gold{
    color: var(--star-gold-color);
}
.home-product-item__sold{
    font-size: 1.4rem;
    margin-left: 6px;
    color: var(--text-color);
}
.home-product-item__orgin{
    display: flex;
    justify-content: space-between;
    margin: 4px 10px;
    font-size: 1.2rem;
    color: #a2a2a2;
}

.home-product-item__favourite{
    font-size: 1.2rem;
    font-weight: 500;
    position: absolute;
    top: 10px;
    left: -4px;
    color: var(--primary-color);
    background-color: currentColor;
    line-height: 1.6rem;
    padding-right: 4px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.home-product-item__favourite::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    border-top: 3px solid currentColor;
    border-left: 3px solid transparent;
    filter: brightness(40%);
}

.home-product-item__favourite span {
    color: var(--white-color);
}

.home-product-item__favourite i{
    color: var(--white-color);
    font-size: 1rem;
    margin: 0 2px 0 4px;
}
.home-product-item__sale-off{
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 36px;
    background-color: rgb(253,214,55) ;
    font-weight: 500;
    text-align: center;
    border-top-right-radius: 2px;
}
.home-product-item__sale-off::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    border-width: 0 20px 6px;
    border-style: solid;
    border-color: transparent rgb(253,214,55) transparent rgb(253,214,55) ;

}
.home-product-item__sale-off-persent{
    color: var(--primary-color);
    font-size: 1.3rem;
    line-height: 1.3rem;
    position: relative;
    top: 2px;
}
.home-product-item__sale-off-lable{
    color: var(--white-color);
    font-size: 1.5rem;

}   

.home-product__pagination{
    margin: 50px 0 32px 0;
    padding-left: 0;
}

/* Footer */

.footer{
    font-size: 1.2rem;
    border-top: 4px solid var(--primary-color);
    padding-top: 16px;
    color: var(--text-color);
}
.footer__list{
    list-style: none;
    padding-left: 0;
}

.footer-item__link{
    font-size: 1.3rem;
    text-decoration: none;
    color: var(--text-color);
    padding: 6px 0;
    display: block;
    display: flex;
    align-items: center;
}

.footer-item__link:hover{
    color: var(--primary-color);
}

.footer-item__icon{
    font-size: 1.8rem;
    margin: -1px 8px 0 0;
}

.footer__download{
    display: flex;
}

.footer__download-qr{
    width: 86px;
    height: 86px;
    border: 1px solid var(--border-color);
}

.footer__download-app{
    margin-left: 16px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.footer__download-app-img{
    height: 18px;
    margin: 4px 0;
}

.footer__download-app-link{
    text-decoration: none;
    color: transparent;
}

.footer__bottom{
    padding: 40px 0;
    background-color: #f5f5f5;
    margin-top: 26px;

}
.footer__bottom-list{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.footer__text{
    margin: 0;
    font-size: 1.2rem;
    color: var(--text-color);
}

.footer__bottom-item-tp{
    border-right: 1px solid #999;
    padding: 0 6px;
}
.footer__bottom-item span:nth-child(12) {
    border: none;
}